.pai {
    background-color: #ffe100;
    height: 600px; 
    width: 600px;
}

#filhaA {
    background-color: #959fe0;
    width: 800px;
    height: 800px;
}

p {
    color: rgb(255, 255, 255);
        background-color: rgb(49, 49, 49);
        font-size: 38px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
}

#filhaD {
    width: 70%;
    height: 70vh;
    background-color: rgb(102, 44, 44);
}

#filhaE {
    width: 75vw;
    height: 400px;
    background-color: rgb(132, 132, 132);
}